/* @author victorpereirademelo */
@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0);
}

#mini-container {
    margin: 50px auto;
    max-width: 1000px;
}

#ajustar {
    margin: 50px auto;
    max-width: 1150px;
}

#container {
    margin: 10px;
}

.separar {
    margin: 5px;
}

.ellipsis {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imagemPerfil {
    width: 25px;
    border-radius: 20px;
    height: 25px;
}

.riscar {
    text-decoration: line-through;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container__flex {
    display: flex;
    padding-right: 5px;
}

.logo {
    font-family:cursive;
    color: #008cff;
    padding-left: 10px;
    padding-top: 10px;
}

.adjust-remove {
    color: red;
}

.ajustar-botao {
    background-color: #212529;
}